@mixin respond($breakpoint) {

  @if $breakpoint == tab-port {
    @media only screen and (min-width: 48em) {
      @content;
    }
  }
}

.form {
    margin: 0 auto;
    
    &__row {
        display: flex;
        justify-content: space-between;
        .formInput {
            margin-bottom: 0;
        }
    } 

    &__btn  {
        width: 160px;
        height: 50px;
        padding: 10px;
        background: #ED4C5C;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;

        &:hover {
            background: #D52047;
        }
    }
}
